#menu{
    width: 18%;
    height: 100vh;
    position: fixed;
    background-color: #404E67;
    box-shadow: inset -3px 0 10px rgb(70, 70, 70);
}
#headerMenu{
    background-color: #272D36;
    display: flex;
    align-items: center;
    justify-content: center;
}
#linkRecarregar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#logoSistema{
    width: 30px;
}
#nomeSistema{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    color: white;
}
.opcaoMenu{
    font-family: 'Montserrat', sans-serif;  
    font-size: 13px;
    font-weight: 4  00;
    padding: 3px 10px;
    margin-bottom: 17px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    border-left: 2px transparent solid;
}
.opcaoMenu i{
    font-size: 23px;
    margin-right: 5px;
    color: #aab2c0;
}
.opcaoMenuSelecionado{
    border-color: #FB6340;
}
.opcoesMenu__titulo{
    font-family: 'Montserrat', sans-serif;  
    font-size: 16px;
    background-color: #333E52;
    color: #7d8695;
    padding: 12px 10px;
    margin-bottom: 10px;
}