.tabelaPadrao{
    width: 100%;
    font-size: 13px;
    color: rgb(55, 55, 55);
    font-weight: 500;
}   
.tabelaPadrao thead{
    background-color: #F6F8FB;
    padding: 10px;
}
.tabelaPadrao thead tr{
    background-color: #F6F8FB;
    padding: 10px;
    border-top: 1px solid #dee2e6;
}
.tabelaPadrao thead td{
    background-color: #F6F8FB;
    padding: 10px 5px;
}
.tabelaPadrao tbody{
    border-top: 2px solid #dee2e6;
}
.tabelaPadrao tbody tr{
    border-bottom: 1px solid #dee2e6;
}
.tabelaPadrao td{
    padding: 5px 5px;
}

.zayDataTable_acoes{
    display: flex;
    justify-content: flex-end;
}
.zayDataTable__nav_paginacao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}
.zayDataTable__btnNumeroPaginacao{
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    color: rgb(88, 88, 88);
}
.zayDataTable__btnNumeroPaginacao:nth-child(2){
    margin-left: 0px!important;
}
.zayDataTable__btnPaginacaoAtivado{
    background-color: #dedede;
}
.zayDataTable__btn_voltar_e_avancar_pagina{
    font-size: 19px;
    margin: 0 15px;
    color: rgb(144, 144, 144);
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}
.zayDataTable__btn_paginacao_desativado{
    color: rgb(203, 203, 203);
}
.p_textoAtivo{
    background-color: #2DCE89;
    color: white;
    padding: 4px 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 58px;
}
.p_textoAtivo i{
    font-size: 15px;
    font-weight: 600;
    margin-right: 3px;
}
.p_textoInativo{
    background-color: #FB6340;
    color: white;
    padding: 4px 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width: 58px;
}
.p_textoInativo i{
    font-size: 15px;
    font-weight: 600;
    margin-right: 3px;
}