#representacaoEstacionamento{
    background-color: rgb(251, 251, 251);
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0 0 6px rgb(188, 188, 188);
    padding: 20px;
    width: 1014px;
}
#balaoPlacaVeiculo{
    position: absolute;
    background-color: rgb(86, 86, 86);
    color: white;
    border-radius: 5px;
    padding: 4px;
    font-size: 11px;
    margin-top: 3px;
    display: none;
}
.carro{
    width: 40px;
    height: 70px;
    background-color: rgb(81, 81, 81);
    grid-row: 6 / 7;
    grid-column: 14 / 15;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.carroEstacionado{
    margin-top: 30px!important;
}
#carro_teto{
    background-color: rgb(139, 139, 139);
    width: 30px;
    height: 35px;
    margin-bottom: 5px;
}
#carro_linhaLanternasTraseiras{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 0  6px; */
    /* margin-bottom: 3px; */
}
#carro_linhaLanternasTraseiras .lanterna{
    width: 6px;
    height: 6px;
    background-color: rgb(255, 55, 55);
    border-bottom-left-radius: 5px;
    /* border-radius: 3px; */
}
#carro_linhaLanternasTraseiras .lanterna:nth-child(2){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    /* border-radius: 3px; */
}
#placa{
    background-color: rgb(203, 203, 203);
    font-size: 9px;
}
#representacaoEstacionamento__divTitulo{
    padding: 15px 10px;
    border-bottom: 1px solid rgb(156, 156, 156);
}
#representacaoEstacionamento__estacionamento{
    display: grid;
    height: 570px;
    grid-template-columns: 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14%;
    grid-template-rows: 20% 13.33% 20% 20% 13.33% 13.33%;
    background-color: rgb(232, 232, 232);
    margin-top: 15px;
    transition: 200ms;
}
#ruaVerticalEsquerda{
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#ultimaLinhaDeVagas{
    grid-column: 1 / 15;
    grid-row: 1 / 2;
    background-size: cover;
    display: flex;
}
#ultimaRuaHorizontal{
    grid-column: 2 / 13;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#penultimaLinhaDeVagas{
    grid-column: 2 / 13;
    grid-row: 3 / 4;
    display: flex;
}
#primeiraLinhaDeVagas{
    grid-column: 2 / 13;
    grid-row: 4 / 5;
    display: flex;
    border-top: 1px rgb(255, 255, 255) solid;
}
#primeiraRuaHorizontal{
    grid-column: 2 / 13;
    grid-row: 5 / 6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconeSinalizacaoRua_esquerda{
    color: rgb(164, 164, 164);
    display: none;
}
.iconeSinalizacaoRua_pCima{
    color: rgb(164, 164, 164);
    display: none;

}
#ruaVerticalSaida{
    grid-column: 13 / 14;
    grid-row: 2 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#ruaVerticalEntrada{
    grid-column: 14 / 15;
    grid-row: 2 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#linhaVagasDasMotos{
    grid-column: 1 / 13;
    grid-row: 6 / 7;
    display: flex;
}
#linhaVagasDasMotos .vaga{
    display: flex;
    align-items: flex-end;
}

.vaga{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 5px;
    box-sizing: border-box;
    width: 9%;
    border-left: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255)  solid;
    height: 100%;
} 
.vagaSemBordaEsquerda{
    border-left: none;
}
.vagaSemBordaDireita{
    border-right: none;
}
.vaga .spanNumeroVaga{
    color: white;
    background-color: rgb(199, 199, 199);
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.vaga .spanVagaMoto{
    flex-direction: column;
    font-size: 12px;

}
#primeiraLinhaDeVagas .vaga{

}
#penultimaLinhaDeVagas .vaga{
    align-items: flex-end;
}
  